/* Resetting default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Container styles */
div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px; /* Adding some padding to the container */
}

/* Heading styles */
p {
    font-size: 18px;
    text-align: left;
    margin-bottom: 10px; /* Add space between paragraphs */
}

/* Team member list styles */
p > p {
    font-size: 16px; /* Slightly smaller font size for the team list */
    margin-bottom: 5px; /* Add space between team members */
}

/* Button styles */
button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    transition: box-shadow 1s;
    }

    button:hover {
    background-color: #45a049;
    box-shadow: 0 0 2px 2px #ffffff;
    }
